@charset "utf-8";

.left_frame 
{
    float: left;
    clear: both;
    width: 40%;
    font-weight:bold;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.right_frame
{
    float: right;
    text-align: left;
    width: 55%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.center_frame
{
    clear: both;
    
}

.study
{
    clear: both;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 50px;
    border-top: 2px solid black;
}

#search
{
    display: inline;
    float: left;
    clear: both;
}

#container_content
{
    position: relative;
    width: 80%;
    max-width: /*1024px*/ 960px;
    margin: auto;
    min-height: 570px;
    padding: 0px;
}

#primary_header 
{
    height: 110px;
    padding: 7px;   
}

#primary_content 
{
    background: #ffffff;
    height: 100%;
    min-height: 400px;
    padding: 50px 100px;
}

#primary_footer 
{
    background: #A5B6C0;
    height: auto;
    padding: 7px;
    font-size: 10px;
    text-align: center;
    clear: both;
}

div .page_section 
{
    margin: 5px;
    padding: 5px;
    border: 1px solid #555555;
    overflow: hidden;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
        


/* AlertMessage */
#message_service{
	position:absolute;
	top:165px;
	right:20px;
	padding: 10px 15px 10px 50px;
	max-width:400px;
	z-index:1002;
	border-radius:       10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	box-shadow:     0 0 8px #000000 ; -moz-box-shadow: 0 0 8px #000000 ; -webkit-box-shadow: 0 0 8px #000000 ;
	display:none;
}

.message_success{
	background:#cee6c3 url('../images/iconset/success.png') no-repeat 10px 28px;
	border: 1px solid #359545;
	color: #359545;
}

.message_error{
	background:#f6cbca url('../images/iconset/error.png') no-repeat 10px 28px;
	border: 1px solid #cb2026;
	color: #cb2026;
}

.message_clickable
{
    cursor: pointer;
}
/* end Alert Message */




/* START standard tags*/
body 
{
    font-family: arial,sans-serif;
    font-size: 16px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0;
    
}

.bodybg 
{
    background-image: url("../images/top_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo 
{
    float: left; 
    
}

h1 
{
    font-size: 26px;
    color: #1199AA;
}

h2 
{
    font-size: 22px;
    color: #1199AA;
    
}

h3 
{
    font-size: 18px;
    
    font-style: italic;
}


        
.login 
{
    display: block;
    margin: 0px auto;
    width: 200px;
    padding: 5px;
}
/* END standard tags */





#node_details{
    position:absolute;
    top:150px;
    right:20px;
    padding: 10px 10px 10px 10px;
    width:300px;
    z-index:900;
    border-radius:       10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    box-shadow:     0 0 8px #000000 ; -moz-box-shadow: 0 0 8px #000000 ; -webkit-box-shadow: 0 0 8px #000000 ;
}

.button {
    border: 1px solid black;
    font-weight:bold;
    padding: 10px 15px;
    margin: 10px 10px 10px 0;
    text-align: center;
    background: #4479BA;
    color: #FFF;
    width: 100px;
    border-radius:       10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}


.button:hover
{
    background: #4470BF;
    cursor: pointer;
}



.disabled{
    background: #dddddd;
}   

.scenario_list {
    font-size: 12px;
}
